*{
    margin: 0;
    padding: 0;
    
}

body{
    font-size:10px;
    background-color: #0F1116;
}
.bi{
    color: #DEBA2F;
    height: 30px;
    height:30px;
    border: solid;
    border-radius: 100%;

}
/*   blue color RyanAir #0D44B6*/
h1{
    font-size: 1vh;
    font-weight: bold;
}
.metric{
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #DEBA2F;
    height: auto;
    width: auto;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    line-height: 3em;
}
